.tickets {
  background-color: $blue;
  padding: 5rem 0;

  h3 {
    text-align: center;
    color: $white;
  }

  .content-tickets {
    margin-top: 2rem;
    @include phone {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
    }
  }

  .plan {
    p {
      color: $white;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

.pass {
  width: 100%;
  border-spacing: 0;
  thead {
    background-color: $pink;
    th {
      padding: 1rem;
      color: $white;
      text-transform: uppercase;
      font-weight: normal;
      border-radius: 2rem 2rem 0 0;
    }
  }
  tbody {
    background-color: $white;
    text-align: center;
    td {
      padding: 1rem;
      border-bottom: 1px solid lightgray;
    }
  }
  tfoot {
    background-color: $green;
    td {
      padding: 1rem;
      text-align: center;
      font-size: 3rem;
      color: $white;
    }
  }
}
